<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>

    <form class="" action="/turn" method="post">
      <input type="text" name="dir" value="" placeholder="direction">
      <input type="text" name="angle" value="">
      <input type="submit" name="name" value="submit">
    </form>

    <ul>
      {% for n in serialdata %}
      <li>{{n}}</li>
      {% endfor %}
    </ul>

  </body>
</html>
